/* Genel sıfırlamalar ve temel stiller */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    display: flex;
    justify-content: flex-start;  /* Sadece sola hizala */
    align-items: flex-start;
    height: 100vh;
    padding-top: 30px;
    padding: 0;
    overflow-x: hidden; /* Yatay kaydırmayı engelle */
}

/* Flex parent container */
.parent {
    height: 100%;
    margin: 0;
    display: flex;
    font-size: x-large;
    width: 100%;  /* Tam genişlik */
}

